.menuSpanMnuBar{
    padding: 4px !important;
    border-bottom: 1px solid #e2e8f0 !important;
    margin-left: 8px !important;
    font-size: 16px;
    font-weight: 500;
    color: rgb(70, 69, 69);

}
.menuSpanMnuBar span{
    margin-right: 8px !important;
}