/* #btnGroupAddon{
    height: 38px !important;
    background-color: #edf2f7;
    font-weight:bolder ;
    border:  none !important;
    font-family: 'Anybody', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}
#mrgn{
    height: 38px !important;
    background-color: #edf2f7;
    border:  none !important;
}
.brand{
    margin-right: 10% !important;
    color: black !important;
    
}
.brnd{
    text-decoration: none !important;
    color: black !important;
}
.topNavBG{
    border-bottom: 1px solid #e2e8f0 !important;
    padding: 14px !important;
}
.me-auto{
    width: 70% !important;
    }
.rightMenusTop{
    color: black !important;
    font-weight:600 ;
    margin-left: 16px !important;
    font-family: 'Anybody', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
} */

.CmpLogo{
    width: auto;
    height: 75px;
    padding: 4px;
    margin-left: 20px !important;
  }
  .menuCol1{
    background-color: #d70900;
    border-top-left-radius: 50px !important;
    height: 75px;
    
  } 
  .menuCol2{
    padding-top: 8px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* position: fixed; */

  }

  .innerCol1{
   background-color: black;
   margin-left: 12px !important;
   padding: 14px;
   margin-top: -8px !important;
   border-top-right-radius: 50px !important;
   margin-right: 50px !important;
   font-size: 14px;
  

  }
  
  .innerCol2{
    margin-left: 22px !important; 
    font-size: 14px !important;
    font-weight: 900 !important;
    padding-top: 8px !important;
    color: #02564a;

  }


  .innerRow{
    margin-right:0px !important;
  }

  .myFirstRow{
    padding-left: calc(var(--bs-gutter-x) * .0) !important;    
  }

.newMainMenuSpan{
    padding: 4px !important;
    color: rgb(170, 170, 170);
    margin-left: 20px;
}
.iconsPadding{
  margin-right: 10px;
}
.icons{
  float: right !important;
  margin-right: 40px;
  /* color: rgb(230, 230, 230); */
}
.bannerBg {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top:-22px !important;
  }

  .imgBGMotionBlur {
    height: 350px;
  }
  
  .BannerContent {
    position: absolute;
    top: 0%;
    left: 3%;
    transform: translate(-50%, -50%);
  }

  .row>*{
    padding-left: calc(var(--bs-gutter-x) * .0) !important;
  }
  .bannerStrip{
    background-color: #a6ccd0;
    height: 24px;
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
    margin-left: 12px !important;
    width: 110%;
    

  }

  .bannerContentRow{
    margin-left: 12px !important;
    min-height: 350px !important;
  }
  .bannerSlogan{
    margin-top: 10%;
    margin-left: 8%;
    
  }

  .MycontainerSecont {
    position: relative;
     color: white;
  }
  .top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100 !important;
  }
  .bottomStrip{
    background-color: #a6ccd0;
    height: 36px;
    width: 100%;
    margin: 0 0 0 0 !important;
  }
 .bannerButton{
    border: 1px solid #438f83;
    background-color: #cecece;
    width: 120px;
    font-size: 12px;
    color: #438f83;
    padding: 4px;
    margin-left: 180px;
    margin-top: 10px;
 }
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebdsdtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.alignRight{
  float: right;
  display: block;
}

.bannerPicForMobile{
  display: none !important;
}  
.mediaIcons{
  display: none !important;
}

.searchForm{
  width: 100% !important;
}
.searchForm{
  max-height: 5px !important;
  padding: 0px !important;
  margin-top: -10px;
}
#button-addon2{
  padding: 2px !important;
  margin-top: -6px !important;
  /* border-radius: 0px; */
  height: 30px !important;
  border: 1px solid rgb(53, 53, 53) !important;
}
.searchFormtextBox{
  height: 30px !important;
  margin-top: -6px !important;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  background-color: transparent !important;
  border: 1px solid rgb(53, 53, 53) !important;
  font-size: 10px;
}
.flex-container {
  display: flex;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
      height: 100%;
    width: 50%;
  }
  .sidenav a {font-size: 18px;}
}

  @media only screen and (max-width: 600px) {
    .CmpLogo {
        width: auto;

        margin-left: 0px !important;
        height: 50px !important;
    }

    .innerCol1{
        font-size: 12px;
        color: white;
        font-weight: 600;
        border-top-right-radius: 0px !important;
      

       
    }

    .menuCol1{
        padding: 8px !important;
        border-top-left-radius: 0px !important;
    }  
    .innerCol2{
        color: none;  
        margin-left: 22px !important; 
        font-size: 12px !important;
    }

    .bannerSlogan{
         margin-top: 5%;
        margin-left: 20%;
        width:60% ;
      }

      .bannerButton{
        margin-left: 100px;
        margin-top: 10px;

     }
.bannerPicForMobile{
  display: block !important;
  margin-top: -30px !important;
}  

.td1Width{
  width: 50% !important;
}

.td2Width{
  width: 25% !important;
  display: none;
  
}

.td3Width{
  width: 50% !important;
  font-size: 12px;
}

.newMainMenuSpan{
  padding: 4px !important;
  color: rgb(170, 170, 170);
  margin-left: 2px;
}
.iconsPadding{
margin-right: 2px;
}
.icons{
float: right !important;
margin-right: 2px;
margin-top: 5px;
}

  }